<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pracprac">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".saveSolarInfo"
            android:theme="@style/SolarTheme"></activity>
        <activity android:name=".SolarActivity" />
        <activity
            android:name=".FirstTimeSolarinfo"
            android:theme="@style/SolarTheme" />
        <activity
            android:name=".ChooseEnergy"
            android:theme="@style/ClassicTheme" />
        <activity
            android:name=".Admin"
            android:screenOrientation="portrait"
            android:theme="@style/ClassicTheme" />
        <activity
            android:name=".SignUp"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".SignIn"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>